# Core Deep Learning
torch
torchvision
timm
tensorflow
keras
keras_preprocessing
tensorflowjs
tensorflow-addons
tensorflowjs

# Data Processing
numpy
pandas
opencv-python-headless
opencv-python
Pillow
albumentations
nltk
kagglehub
scipy
openpyxl

# Machine Learning
scikit-learn
scikit-image
xgboost
lightgbm
catboost
lightgbm
joblib
mlflow

# Visualization
matplotlib
seaborn

# Web Interface
streamlit
flask
Flask
werkzeug
gunicorn
jinja2
pdfkit
weasyprint
xhtml2pdf

# Report
pyttsx3
pytesseract
PyMuPDF
googletrans